
body {
    font-family: "Times New Roman",Arial,sans-serif;
    background-color: rgb(197, 237, 243);
}
.recetasvarias {
    text-align: center;
}

body h2 {
    font-family: "Times New Roman",Arial,sans-serif;
    color: blueviolet;
    font-weight: bold;
}

body p {
    font-weight: 50px;
}


body ol li {
    font-weight: bold;
}

.border {
    border: 1px solid black;
    display: inline-block;
    padding: 1em;
}
.titulo {
padding: 8px;
width: fit-content;
display: block;
background-color: rgb(115, 204, 213);
margin: 0 auto;
/* text-align: center; */
border-color: purple;
border-style: dotted;
}
.inicio-recetas {
    text-align: center;
}
.inicio-recetas li {
    background-color: rgb(173, 114, 229);
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    border: blue dotted;
    font-weight: bold;
}